* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}
#Container-header{
    background-color: white;
    color: black;
}
.menu-item{
    color: black;
}