* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

ul {

}

a {
    text-decoration: none;
}
#Container-header{
    background-color: white;
    color: black;
}
.menu-item{
    color: black;
    margin: 10px;
}
#Container-nav-header{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}