* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --bg-color: white;
    --color-text: black;
}

ul {
    display: inline-flex;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

#container-header {
    /* background-color: white; */
    background-color:var(--bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-main{
    display: flex;
    justify-content: space-around;
    gap: 70px;
}
.menu-item {
    color: black;
    margin: 15px;
    font-weight: bold;
}

#container-nav-header {
    /* background-color: white; */
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
}

body {
    background-color: #f4f4f4;
    overflow-x: hidden;
    color: var(--color-text);
    
}

.container-hero {
    display: block;
    align-items: center;
    padding: 30px;
}

.text-1 {
    padding-top: 20px;
    text-align: center;
    font-family: sans-serif;
}

.text-4 {
    padding-top: 20px;
    text-align: center;
    font: caption;
    font-size: 18px;
    line-height: 1.5;
}

.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    width: 1000px;
    height: 200px;
    padding: 10px;
}

.card-item {
    width: 300px;
    height: 120px;
    /* background-color: white; */
    background-color: var(--bg-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 20px;
    position: relative;

}

.card-item img {
    width: 50px;
    object-fit: contain;
    margin-bottom: 20px;

}

.card-description {
    position: absolute;
    bottom: 15px;
}

button {
    background-color: black;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
}

.botao a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.botao {

    align-items: center;
    text-align: center;
    margin: 50px 0;
}




/* Seção de origem e destino*/
.frete-resultado{
    display: block;
    margin-top: 100px;
}
.addres-block{
    display: flex;
    flex-direction: row;
    gap: 0 20px;
    border-bottom: 2.5px rgba(128, 128, 128, 0.17) solid;

    overflow: auto;
    max-width: fit-content ;
    margin-bottom: 0;
}
.addres-item{
    border: none;
    display: block;
    margin-bottom: 10px;
}
.addres-item h4{
    font-weight: bold;
}
.addres-item p{
    font-weight: lighter;
}
.section-container-frete{
    margin-top: 10px;
}




#section-container-frete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;

   
}

.section-items-frete{
    /* background-color: white; */
    background-color: var(--bg-color);
    margin-bottom: 20px;
    width: 600px;
    height: 65px;
    border: 0.5px solid rgb(180, 178, 178);
    
    
}

.box-frete{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.item-frete{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
}

.item-1{
    font-size: 10px;
}

.item-2{
    font-size: 15px;
    font-weight: bold;
}

.item-price{
    font-size: 10px;
    font-weight: bold;
    color: grey;
    text-decoration: line-through;
}

.item-promotion{
    font-size: 20px;
    font-weight: bold;
}

/* seção do form contato */
#box{
    display: flex;
    justify-content: center;
}
#container-form-contato{
    display: flex;
    flex-direction: column;
    width:600px;
	height:460px;
    border-radius: 10px 10px;
    /* background-color: white; */
    background-color: var(--bg-color);
    font-weight: 600;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.144);
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 40px 20px 40px 20px;
    row-gap: 20px;
}
#button-form-contato{
    border:none;
    background-color: #333333;
    color:white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    width: 300px;
    margin-top: 40px;
    align-self: flex-end;
    border-radius: 3px;
}
.campos{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-family: skie otf;
    row-gap: 3px;
    color: rgb(46, 46, 46);
}
.input-contato{
    border: 1px solid rgba(128, 128, 128, 0.583);
    border-radius: 4px;
    height: 30px;
    padding: 0px 0 0 5px;
}
#message{
width: 100%;
height: 150px;
padding-top: 5px;
}
/* final seção contato */
.container-form-calc{
    height: 330px;
    width: 400px;
    /* background-color: white; */
    background-color: var(--bg-color);
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 80px;
}
.box-in{
    padding-top: 16px;
    margin-top: 13px;
}
.text-label{
    display: block;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    margin-bottom: 1px;
    display: block;
}

.in-cep{
    align-items: center;
    height: 35px;
    width: 350px;
    display: flex;
    border: 1px rgb(189, 189, 189) solid;
    border-radius: 3px;
    font-size: 16px;
    
}
.in-pes{
    align-items: center;
    height: 35px;
    width: 160px;
    display: flex;
    border: 1px rgb(189, 189, 189) solid;
    border-radius: 3px;
    font-size: 16px;
}

.box-pes-qdt{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;   
}
.button-calc{
    border: none;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    transition: 0.30;
    cursor: pointer;
}
.button-calc:hover{
    box-shadow: 0 3px 4px 3px rgb(92, 90, 90);
    transform: translateY(-0.25em);
}

/* media querie da home*/
@media (max-width:768px)  {
    .section-card {
        flex-direction: column;
        height: 500px;
    }
    .card-item{
        height: 500px;
    }
}


@media screen and (max-width: 768px) {
   
    .container-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-form-calc{
      margin: 60px auto 0 auto;     
       
    }

    .frete-resultado{
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .addres-block{
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .section-items-frete{
        width: 370px;
    }
}